/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



body {
  background: #e0d1af;
  font-family: 'Baloo Bhai';
  color: #333;
}

canvas {
  float: left;
  border: 3px solid #d1891d;
  background: #f2f1d3;
  border-radius: 0.75rem;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
  margin: 3rem 0 0 3rem;
}

#information {
  float: right;
  width: 60rem;
  margin: 3rem 3rem 0 0;
}

#generation-title {
  border: 3px solid #d1891d;
  background: #f2f1d3;
  border-radius: 0.75rem;
  font-size: 2.5rem;
  padding: 0.7rem 0.3rem;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
  color: #813b0f;
}

#highscores {
  font-size: 2rem;
  border: 3px solid #d1891d;
  background: #f2f1d3;
  padding: 0.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
  width: 100%;
  margin-top: 2rem;
  display: block;
}

#highscores td {
  padding: 0.5rem;
  line-height: 3rem;
}

#highscores .position {
  width: 6rem;
}

#highscores .generation {
  width: 35rem;
}

#highscores .image {
  width: 4rem;
}

#highscores .plane-image {
  width: 3rem;
  height: auto;
  vertical-align: middle;
}